<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'rw_app/css/style.css' %}">    
    <script src="{% static 'app_name/js/script.js' %}"></script>
</head>
<body>
 
        <div id= "content"class="vh-100 d-flex align-items-center">
          <div class="mx-auto" >
            <h1 >Random World</h1>
            <p>{{word}}</p>
            <p>COUNTER: {{counter}}</p>
            <a href="/generate" class= "btn btn-primary">GENERATE WORD</a>
            <a href="/reset" class="btn btn-danger">RESET</a>
          </div>
        </div>
      </body>
</html>

